# PyQt/Qt bindings should be installed via system package manager on Jetson/ARM
# sudo apt-get install python3-pyqt5
# PyQt6 or PyQt5
pyqtgraph==0.14.0

requests
configparser
boto3
pyserial
paho-mqtt
